Title {
    content-align: center middle;
    text-style: bold;
    height: 1;
}

.container {
    height: auto;
    width: auto;
}

Switch {
    height: auto;
    width: 10;
}

.label {
    height: 3;
    content-align: left middle;
    width: 12;
}

.ingredients_main {
    content-align: center bottom;
}

Select {
    height: auto;
    width: 20;
    margin: 0;
}

.recipe_buttons {
    height: auto;
    width: 20;
}